@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&family=Trirong:wght@700&display=swap");

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-family);
  /* transition: var(--transition); */
}

/*** 2.0 - Globals ***/
:root {
  /*** 2.1- Colors ***/
  --primary: #333;
  --secondary: white;

  /*** 2.2- Fonts ***/
  --font-family: "Prompt", sans-serif;
  --font-headeline: "Prompt", sans-serif;

  /*** 2.3- Sizes ***/
  --spacing: 8px;
  --spacing-small: calc(var(--spacing) / 2);
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing) * 3);

  /*** 2.4- Animation ***/
  --transition: all var(--velocity) var(--easing);
  --easing: cubic-bezier(0.25, 0.8, 0.25, 1);
  --velocity: 0.6s;
}

.dark {
  color: var(--secondary);
}

.light {
  color: var(--primary);
}

/*** 3.0 - App ***/
#app {
  --colorize: #daa41c;
  --image-cover: url(https://images.unsplash.com/photo-1526947425960-945c6e72858f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "nav nav "
    "list image";
  width: 100vw;
  height: 100vh;

  /* Background configs  */
  background-image: var(--image-cover);
  background-blend-mode: soft-light;
  background-color: var(--colorize);
  background-size: cover;
  filter: grayscale(0.1);
}
/* Background animation */
@keyframes zoom {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#app::before {
  /* --image-cover; */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: zoom var(--velocity) forwards;

  /* Background configs */
  background-image: var(--image-cover);
  background-blend-mode: inherit;
  background-color: inherit;
  background-size: inherit;
}

/*** 3.1 - Layout ***/
#navbar {
  grid-area: nav;
}
#projects-list {
  grid-area: list;
}
#projects-gallery {
  grid-area: image;
}
#projects-details {
  grid-area: detail;
}

/*** 3.2 - Header ***/
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-large);
  font-size: 80%;
}

#navbar .nav_search {
  display: none;
}

.nav_links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav_links a {
  padding: var(--spacing-large);
  width: 100%;
  margin: unset;
}

/*** 3.1.1 - Hamburguer Menu ***/
#navbar .ham-menu-icon {
  display: block;
  height: 3px;
  position: absolute;
  top: 24px;
  right: 24px;
  max-width: var(--spacing-large);
  max-height: var(--spacing-large);
  background: var(--primary);
  border: unset;
  width: 100%;
}

.ham-menu-icon:before,
.ham-menu-icon:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  height: inherit;
  width: 70%;
  background: inherit;
  transform: rotate(0deg);
}

.ham-menu-icon::after {
  top: 20px;
}

/*** 3.1.1.1 - Menu Open ***/
[data-menu-open] * {
  transition: var(--transition);
}

[data-menu-open] .nav_links a {
  font-size: 24px;
}
[data-menu-open] #projects-gallery,
[data-menu-open] #projects-list {
  transform: translateX(calc((100vw - 70vw) * -1)) scale(0.8);
  transform-origin: left center;
}

[data-menu-open] #projects-gallery {
  box-shadow: 14px 0 28px rgba(0, 0, 0, 0.08), 10px 0 10px rgba(0, 0, 0, 0.12);
}

/*** 3.3 - Project Showview ***/

/*** 3.3.1 - Projects List ***/
#projects-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  z-index: 1;

  transition: var(--transition);
}

#projects-list * {
  transition: var(--transition);
}

#projects-list nav {
  width: fit-content;
  margin-right: auto;
}

#projects-list li {
  opacity: 0.4;
  cursor: pointer;
}

#projects-list li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

#projects-list li a hr {
  display: inline-block;
  min-width: 20%;
  max-width: 40%;
  width: 100%;
  border: 1px solid;
  margin-inline-end: var(--spacing);
}

/* First element selected default */
#projects-list nav li[data-selected="true"] {
  opacity: 1;
}

#projects-list nav li[data-selected="true"] span {
  opacity: 1;
}

#projects-list li[data-selected="true"] a hr {
  width: 0%;
}

/*** 3.3.2 - Projects Gallery ***/
#projects-gallery {
  padding-left: 30vw;
  margin-bottom: 5vh;
  margin-inline-start: auto;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: 2/1;

  transition: var(--transition);
}

#projects-gallery > * {
  grid-area: 1 / 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;

  transition: var(--transition);
}

#projects-gallery img:not([data-selected="true"]) {
  transform: scale(1.5);
  opacity: 0;
}

/*** 3.3.3 - Projects Details ***/
#projects-details {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 96px;
  overflow: hidden;
  display: none;
}

.details_project:not([data-selected="true"]) {
  position: absolute;
  top: 100%;
}

.details_project {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  padding: var(--spacing-large);
  align-items: center;
}

.project_author {
  padding-right: var(--spacing-medium);
}

.project_author strong {
  display: block;
}

.project_author author {
  font-weight: 300;
}

.project_detail {
  font-weight: 300;
  font-size: 80%;
}

p.project-name {
  font-family: "Trirong", serif;
  font-size: 3em;
}

/*** 3.4 - Media Queries ***/
@media (min-width: 768px) {
  #app {
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 80px 1fr 0.2fr;
    grid-template-areas:
      "nav  nav"
      "list image"
      ".    detail";
  }

  /*** 3.4.1 - Header ***/
  .nav_links {
    display: initial;
    height: unset;
    width: unset;
    position: initial;
  }
  .nav_links a {
    padding: var(--spacing) var(--spacing-medium);
    line-height: 24px;
    min-height: 40px;

    transition: var(--transition);
  }
  .nav_links > *:not(a:last-child) {
    margin-right: var(--spacing-medium);
  }
  #navbar .nav_search {
    display: block;
  }

  /* Ham menu */
  #navbar .ham-menu-icon {
    display: none;
  }

  /*** 3.4.2 - Projects Slideshow ***/
  /*** 3.4.2.1 - Projects List ***/
  #projects-list {
    width: unset;
    grid-area: list;
  }
  #projects-list nav {
    height: unset;
    width: unset;
    margin-right: unset;
  }

  #projects-details {
    display: block;
  }

  #projects-list li a span {
    opacity: 0;
  }

  /* Hover */
  #projects-list ul:hover li:not(:hover) {
    opacity: 0.2;
  }
  #projects-list ul:hover li:not(:hover) hr {
    width: 100%;
  }
  #projects-list ul:hover li:not(:hover) span {
    opacity: 0;
  }
  #projects-list ul:hover li {
    opacity: 1;
  }
  #projects-list li:hover a hr {
    width: 0%;
  }
  #projects-list li:hover span {
    opacity: 1;
  }

  /*** 3.4.2.2 - Projects Gallery ***/
  #projects-gallery {
    padding-left: unset;
    margin-bottom: unset;
    grid-area: unset;
  }
}
