.postereyes{
  background-image: url('eyesopenposter.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 950px;
  width: 1000px;
  height: 1200px;
  z-index: -10;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  }

  a {
    position: relative;
    text-decoration: none;
    font-size: 25px;
    line-height: 190px;
    top: 190px;
    font-family: candara;
  }


  #link1 a{ margin-left: 30%;
    color:rgb(128, 203, 226);
  }

  #link2 a { margin-left: 30%;
  color: rgb(211, 190, 1);}

  #link1 a:hover{
    color: white;
    font-style: italic;   }

  #link2 a:hover{
    color: white;
    font-style: italic;  }
  

.text{ /*eyes open text*/
   position: relative;
    margin: 0 auto;
    top: 80px;  /*Adjust this value to move the positioned div up and down*/ 
    width: 100%; /* Set the width of the positioned div */
    min-width: 1000px;
    color: white;
}

.txtUpsideDown { /*eyes open upsidedown text*/
    ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; /* IE8 */
   -webkit-transform: rotate(-180deg);  /* Safari 3.1+, Chrome */
    position: relative;
    margin: 0 auto;
    top: 400px; /* Adjust this value to move the positioned div up and down */
    width: 100%; /* Set the width of the positioned div */
    min-width: 1000px;
    color: white; 
    }

h1 {
  letter-spacing: 42px;
  text-align: center;
  font-size: 70px; 
  font-family: candara;} 

h2 {
  position: relative;
  font-size: 15px;
  font-family: candara; 
  letter-spacing: 8px; 
  top: 150px;
  margin: 0 auto;
  color: rgb(255, 161, 161);
  line-height: 1.5;
  width: 100%;
  min-width: 1000px;
  text-align: center;
}

h3{
    position: relative;
    margin: 0 auto;
    top: 420px; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 100%; /* Set the width of the positioned div */
    min-width: 1000px;
    color: rgb(61, 20, 20); 
    font-size: 24px;
    font-family: candara;
    letter-spacing: 21px;
}

