img { /*styles for the eyes logo*/
  position: fixed;
  width: 35px; 
  padding: 10px;
}

.splitscreen { /*for eyes logo and video to be side by side*/
  display: flex;
}

.splitscreen .left { /*for eyes logo*/
  flex: 1;
}

.splitscreen .right { /*for film video*/
  flex: 1;
}

h1 {
    text-align: center;
    font-family: candara; 
    font-size: 5; 
    text-align: center; 
    color:  rgb(212, 192, 9); 
    font-style: italic;
}
  
  .wrapper1 {
    margin: 8px 0;
    text-align: center;
  }
  
  .state { /*the state of the choice*/
    position: absolute;
    top: 0;
    right:0;
    opacity: 1e-5;
    pointer-events: none;
  }
  
  .label { /*the text of the multiple choice*/
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    color: #000000;
  }
  
  .text {
    margin-left: 20px;
    opacity: .6;
    transition: opacity .2s linear, transform .2s ease-out;
  }
  
  .indicator { /*the 4 radio circles*/
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
    overflow: hidden;
  }
  
  .indicator::before, /*before & after user chooses*/
  .indicator::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }
  
  .indicator::before { /*before the user chooses an option*/
    box-shadow:
      -4px -2px 4px 0px   rgb(212, 192, 9),
      4px 2px 8px 0px #fff;
  }
  
  .indicator::after { /*after the user chooses an option*/
    background-color: #ecf0f3;
    box-shadow:
      -4px -2px 4px 0px rgb(255, 255, 255),
      4px 2px 8px 0px rgb(255, 255, 255);
  
  }
  
  .state:checked ~ .label .indicator::after {
    transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
    opacity: 0;
  }
  
  .state:focus ~ .label .text {
    transform: translate3d(8px, 0, 0);
    opacity: 1;
  }
  
  .label:hover .text { /*when user hovers on the text*/
    opacity: 1;
  }

  .dispstyle { /*js text display*/
    color:rgb(58, 44, 0); 
    font-size:18px; 
    font-weight:bold; 
    font-family: candara; 
    text-align: center;
    padding: 15px;
 }

 input{ /*to make the page position fixed when user chooses an option*/
   visibility: hidden;
 }