body { /*setting a style for the whole webpage*/
    font-family: candara;
}

img { /*styling the logo images*/
    position: fixed; /*fixed while scrolling down*/
    width: 35px; 
    padding: 10px;
  }

h1 {
    text-align: center;
}

h2 
{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: rgb(128, 203, 226);
    padding: 5px;
}

p{
    margin-left: 200px; 
    margin-right: 200px; /*centering paragraph text*/
    line-height: 1.9; /*spacing for the text*/
}